@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.background{
  background: #484a48;
}

 p{
   font-family: 'Source Code Pro', sans-serif;
   font-size: 1em;
   font-style: normal;
   font-variant: normal;
   font-weight: 700;
   color: white;
 }

 .consolePrint{
   font-family: 'Source Code Pro', sans-serif;
   font-size: 1em;
   font-style: normal;
   font-variant: normal;
   font-weight: 700;
   color: white;
 }

 .center-div{
   margin: auto;
   width: 50%;
   padding: 1em;
 }

 .console{
   border: #91b2ff;
   border-width: medium;
   border-style: solid;
   margin: auto;
   margin-top: 90px;
 }

.console-inner{
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: black;
}

input[type=text]{
  background-color: black;
  outline-color: black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 70%;
}

*:focus{
  outline: none;
}
